* {
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header {
    grid-column: span 3;
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding: 30px;
    background-color: #64748b;
    color: white;
}

nav {
    border-right: 1px solid #ddd;
    padding: 30px;
}

article {
    background-color: #d4d4d8;
}

.book-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    gap: 2rem;
    padding: 30px;
}

aside {
    border-left: 1px solid #ddd;
    padding: 30px;
}

#add-book {
    font-size: 20px;
    padding: 10px 15px 10px 15px;
    border-radius: 8px;
}

footer {
    grid-column: span 3;
    border-top: 1px solid #ddd;
    text-align: center;
    padding: 15px 0 15px 0;
}

.book {
    border: 1px solid #f9fafb;
    background-color: #f9fafb;
    border-radius: 12px;
    padding: 20px;
    display: grid;
    gap: 10px;
}

.modal {
    padding: 1em;
    position: absolute;
    width: 200px;
    max-width: 100%;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #f4f4f5;
    background-color: #f4f4f5;
    padding: 50px;
}

.modal h2 {
    margin-bottom: 30px;
    font-size: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form input {
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    outline: none;
}

.submit-button {
    background-color: #86efac;
    border: 2px solid #86efac;
    border-radius: 10px;
    font-size: 20px;
    padding: 15px 25px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.submit-button:hover {
    border-color: black;
}

.submit-button:active {
    border-color: green;
}

.modal::backdrop {
    background: rgb(0 0 0 / .4);
    /* background: linear-gradient(45deg, red, blue); */
    opacity: .4;
    /* backdrop-filter: blur(1px);  */
}