* {
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header {
    grid-column: span 3;
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding: 30px;
    background-color: #64748b;
    color: white;
}

nav {
    border-right: 1px solid #ddd;
    padding: 30px;
}

article {
    background-color: #d4d4d8;
}

.book-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    gap: 2rem;
    padding: 30px;
}

aside {
    border-left: 1px solid #ddd;
    padding: 30px;
}

footer {
    grid-column: span 3;
    border-top: 1px solid #ddd;
    text-align: center;
    padding: 15px 0 15px 0;
}

.book {
    border: 1px solid #f9fafb;
    background-color: #f9fafb;
    border-radius: 12px;
    padding: 20px;
    display: grid;
    gap: 10px;
}

.modal {
    padding: 1em;
    position: absolute;
    max-width: 100%;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #f4f4f5;
    background-color: #f4f4f5;
    padding: 50px;
    padding-top: 30px;
}

.modal div:nth-child(1) {
    display: flex;
    flex-direction: column;
}

.modal h2 {
    margin-bottom: 30px;
    font-size: 30px;
    user-select: none;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form input:not(:nth-last-child(2)) {
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    outline: none;
}

.checkbox-container {
    display: flex;
    gap: 1rem; 
    align-items: center;
    justify-content: center;
}

.checkbox-container label {
    font-size: 30px;
}

.read-checkbox {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    width: 28px;
    display: block;
} 

.button {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button:hover,
.button:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button:hover {
  transform: translateY(-1px);
}

.button:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.modal::backdrop {
    background: rgb(0 0 0 / .4);
    /* background: linear-gradient(45deg, red, blue); */
    opacity: .4;
    /* backdrop-filter: blur(1px);  */
}

.close-button {
    background: #eee;
    border: 2px solid #888;
    border-radius: 50%;
    color: #888;
    font-weight: 400;
    font-size: 16px;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: end;
    user-select: none;
}

.close-button:hover {
    border-color: black;
    transform: translateY(-1px);
}

.close-button:active {
    border-color: black;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}