* {
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header {
    grid-column: span 3;
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding: 30px;
}

nav {
    border-right: 1px solid #ddd;
    padding: 30px;
}

article {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    gap: 2rem 1em;
    padding: 30px;
}

aside {
    border-left: 1px solid #ddd;
    padding: 30px;
}

aside button {
    font-size: 20px;
    padding: 10px 15px 10px 15px;
    border-radius: 8px;
}

footer {
    grid-column: span 3;
    border-top: 1px solid #ddd;
    text-align: center;
    padding: 15px 0 15px 0;
}

.book {
    border: 1px solid black;
    padding: 20px;
    display: grid;
    gap: 10px;
}